.minesweeper-game {
  margin: 30px auto;
  width: 80%;
  height: 70%;
}

.minesweeper-column {
  width: 100%;
  display: inline-block;
  //display: table;
  //table-layout: fixed;
}

.minesweeper-tile {
  margin: 2px;
  height: 40px;
  width: 100%;
  display: inline-block;
  //display: table-cell;
  //justify-content: space-around;
  border: solid white 1px;
  border-radius: 6px;
}

.minesweeper-tile-open {
  background: lightgray;
}

.minesweeper-tile-closed {
  background: gray;
  cursor: pointer;
}

.minesweeper-tile-bomb {
  background: red;
}

.bomb-img {
  margin: 0;
}

.tile-1 {
  color: blue;
}

.tile-2 {
  color: green;
}

.tile-3 {
  color: red;
}

.tile-4 {
  color: darkblue;
}

.tile-5 {
  color: saddlebrown;
}

.tile-6 {
  color: cyan;
}

.tile-7 {
  color: black;
}

.tile-8 {
  color: grey;
}



